* {
  box-sizing: border-box;
  transition: all ease-in-out 0.1s;
}

*, body {
  font-family: 'Alfa Slab One', 'sans-serif', Verdana;
  font-weight: bold;
  letter-spacing: 1px;
}

html, body, #root {
  display: flex;
  flex: 1;
  width: 100%;
  min-height: 100%;
}

a, a:active, a:focus, a:link {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #fff;
  text-decoration: underline;
}