* {
  box-sizing: border-box;
  transition: all ease-in 0.1s;
  font-family: 'Alfa Slab One', 'sans-serif', Verdana;
  font-weight: bold;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Alfa Slab One', 'sans-serif', Verdana;
  font-weight: bold;
}