* {
  box-sizing: border-box;
  transition: all ease-in-out 0.1s;
  font-family: 'Alfa Slab One', 'sans-serif', Verdana;
  font-weight: bold;
}

html, body, #root {
  display: flex;
  flex: 1;
  width: 100%;
  min-height: 100%;
}

body {
  font-family: 'Alfa Slab One', 'sans-serif', Verdana;
  font-weight: bold;
}