{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "es6": true,
    "browser": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "import",
    "react"
  ],
  "globals": {
    "ga": true
  },
  "rules": {
    "arrow-parens": 0,
    "react/jsx-filename-extension": ["off"]
  }
}
